services:
  frontend-prod:
    container_name: running-telemetry-overlay
    build:
      context: ./frontend
      target: production
    ports:
      - "80:80"
    healthcheck:
      test: [ "CMD-SHELL", "test -f /usr/share/caddy/index.html" ]
      interval: 30s
      timeout: 10s
      retries: 3
    profiles:
      - production
