services:
  telemetriq:
    container_name: telemetriq
    build:
      context: ./frontend
      target: production
    ports:
      - "80:80"
    healthcheck:
      test: [ "CMD-SHELL", "test -f /usr/share/caddy/index.html" ]
      interval: 30s
      timeout: 10s
      retries: 3
